@media (max-width: 1200px) {
    .headline-img {
        max-width: 100%;
    }

    .contacts-inner {
        display: block;
    }

    .contacts-form {
        width: auto;
    }

    .contacts-img {
        width: 100%;
    }

    .contacts {
        background-color: #574b63;
    }
}

@media (max-width: 1100px) {
    .color-list {
        flex-wrap: wrap;
    }

    .color-item {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 940px) {
    .menu-btn {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        order: 1;
        position: relative;
        z-index: 50;
    }

    .logo,
    .phone {
        position: relative;
        z-index: 50;
    }

    .btn-line {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;
        height: 2px;
        transition: .3s ease;
    }

    .menu-open .btn-line:nth-child(1),
    .menu-open .btn-line:nth-child(4) {
        transform: scale(0);
    }

    .menu-open .btn-line:nth-child(2) {
        transform: rotate(45deg);
    }

    .menu-open .btn-line:nth-child(3) {
        transform: rotate(-45deg);
    }

    .btn-line:nth-child(1) {
        top: 0;
    }

    .btn-line:nth-child(2),
    .btn-line:nth-child(3) {
        top: 20px;
    }

    .btn-line:nth-child(4) {
        top: 40px;
    }

    .phone {
        text-align: center;
    }

    .menu {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #0a0a0a;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translateY(-100%);
        transition: .3s ease;
    }

    .menu-open .menu {
        transform: translateY(0);
    }

    .menu-item {
        padding: 50px 0;
        font-size: 56px;
    }

    .new-img {
        display: none;
    }

    .new-text {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .headline,
    .new {
        padding: 50px 0px;
    }

    .color {
        padding-bottom: 50px;
    }

    .contacts-form {
        padding: 50px 70px;
    }
}

@media (max-width: 640px) {
    .footer-inner {
        padding: 20px 0px;
        flex-direction: column;
    }

    .footer-inner .logo {
        margin: 15px 0px;
    }
}

@media (max-width: 560px) {
    .title {
        font-size: 34px;
        line-height: 42px;
    }

    .new-title,
    .color-title {
        font-size: 28px;
        line-height: 32px;
    }

    .headline-btn {
        font-size: 18px;
        line-height: 22px;
        padding: 16px 90px;
    }

    .color-item,
    .color-item img {
        width: 100%;
    }

    .contacts-form {
        padding: 50px 30px;
    }

    .new-info {
        max-width: 100%;
    }
}

@media (max-width: 420px) {
    .nav {
        flex-wrap: wrap;
    }

    .phone {
        flex-basis: auto;
        margin-top: 50px;
        order: 3;
        width: 100%;
    }

    .menu-item {
        font-size: 32px;
    }
}

@media (max-width: 375px) {
    .contacts-form {
        padding: 50px 10px;
    }
}